@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/bootstrap/less/responsive-embed.less';
@import '../bower_components/bootstrap/less/responsive-utilities.less';
@import '../bower_components/bootswatch/superhero/variables.less';
@import '../bower_components/bootswatch/superhero/bootswatch.less';

.jumbotron {
	background-color:#314252;
	margin-top: 10px;
	p {
		font-size: inherit;
	}
}
.page-header {
	border-bottom: none;
}

.login-container {
	margin-top: 80px;
	margin-left: 25%;
	margin-right: 25%;
}


/* Extra Small devices (phones, kindle) */
@media (min-width: 320px) and (max-width: 600px) {
	.login-container {
		margin-top: 60px;
		margin-left: 0;
		margin-right: 0;
	}
}