<div class="well bs-component login-container">
    <!-- Login Form -->
    <form name="loginForm" ng-submit="login()" class="form-signin" novalidate>
        <h2 class="form-signin-heading">Sign in</h2>
        <label for="email" class="sr-only">Email address</label>
        <input ng-model="credentials.email" type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
        <div id="emailErrorMsg" ng-show="false" class="alert alert-danger ang-alert-inline"><div class="ang-alert-inline-arrow-up"></div>Please enter valid email address.</div>
        <label for="password" class="sr-only">Password</label>
        <input ng-model="credentials.password" type="password" id="password" class="form-control" placeholder="Password" required>
        <div id="pwdErrorMsg" ng-show="false" class="alert alert-danger ang-alert-inline"><div class="ang-alert-inline-arrow-up"></div>Please enter valid password.</div>
        <div id="pwdErrorMsg" ng-show="false" class="alert alert-danger ang-alert-inline"><div class="ang-alert-inline-arrow-up"></div>Password should at least be 8 characters.</div>
        <div class="checkbox">
            <label><input type="checkbox" value="stay-signed-in"> Stay signed in</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

<div class="row-fluid hide">
    <pre>Credentails: {{credentials | json}}</pre>
    <pre>Master: {{master | json}}</pre>
</div>